{% extends "base.html" %}

{% block title %}Enterprise Software Services LLC{% endblock %}

{% block content %}
<div class="content">
  <span class="head">Who Are We?</span>
  <div class="content-inner smallerFont">
    <h1>Enterprise Software Services</h1>
    <p>Founded in 2016 in Seattle, Washington, Enterprise Software Services is a company run by three friends who all share a passion for computers, networking, hardware and software. The company strives to provide affordable custom software solutions to help businesses succeed.</p>
    <hr>
    <h1>Evan Moyer:</h1>
    <h3>CEO and Systems Architect</h3>
    <p>After working in IT for a decade, Evan found that it wasn't uncommon for businesses to struggle finding commercial, off-the-shelf, line-of-business applications that aligned with their specific needs. He then decided to band with other intelligent minds, providing elegant solutions to problems with ease of use in mind, streamlining the business process.</p>
    <p>Evan has a background in Systems Engineering as well as general business consulting.</p>
    <p>When not working, Evan likes wrenching on cars and learning about naval history.</p>
    <hr>
    <h1>Ben Dixon:</h1>
    <h3>System Administrator</h3>
    <p>An enthusiastic Linux administrator, Ben started his love for all things Linux as a hobby several years ago. This has given him the experience to help run and maintain Enterprise's servers to make sure our clients' applications remain up and running to meet their demands, even under heavy loads.</p>
    <p>Ben spends his free time doing even more tinkering with computers and trying out different coffees.</p>
    <hr>
    <h1>Yuto Scarlet:</h1>
    <h3>Web and Software Engineer</h3>
    <p>Having studied Computer Science at Carnegie Mellon University, Yuto is no stranger to computers. Yuto has been writing web applications and software for over five years with plenty of experience making custom solutions for small businesses.</p>
    <p class="weeb">Suzukaze Aoba is fucking awesome.</p>
    <p>Yuto enjoys playing MMORPGs and trying craft beers.</p>

  </div>
</div>

{% endblock %}
