{% extends "base.html" %}

{% block title %}Enterprise Software Services LLC{% endblock %}

{% block content %}
<div class="content">
  <span class="head">Who Are We?</span>
  <div class="content-inner">
    <b><h3>Enterprise Software Services</h3></b>
    <p>We are a company of nerds that do random shit. Why am I writing this? I'm not exactly sure anymore. Waifus are fucking great, btw. Did you know that? Waifus are love. Waifus are life.</p>
    <hr>
    <b><h3>Evan Moyer</h3></b>
    <p>VROOM VROOM EEEERRRRRRRRRRRRRRR DUUUSH KABOOM BRUUUUUUUUUU.</p>
    <hr>
    <b><h3>Ben Dixon</h3></b>
    <p>Has no redeeming qualities.</p>
    <hr>
    <b><h3>Yuto Scarlet Takamoto</h3></b>
    <p>Suzukaze Aoba is fucking awesome</p>

  </div>
</div>

{% endblock %}
