{% extends "base.html" %}

{% block title %}Enterprise Software Services LLC{% endblock %}

{% block content %}
<div class="content">
  <span class="head">Webapp Hosting</span>
  <div class="content-inner">
    <p>Do you have a custom application, or even a out-of-box application your internal resources are no longer able to handle? Are you looking for a way to drop capex on a better solution? Put that money where it belongs - in your budget.</p>
    <p>Enterprise offers application hosting for your webapp, or your desktop application in a VDI enviroment. Shed the weight and dread of aging IT infrastructre and protect your bottom line by moving offsite.</p> 
    <p>Have you started us on your custom project only to realize you can't manage it internally? Relax, and let us handle the hosting and infrastructure. **Hosting varies on a case-by-case basis. Please inquire for more information!</p>
  </p>
</div>

{% endblock %}
