<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}" type="text/javascript"></script>-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>
