<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/main-tiny.css' %}" media="(max-width:900px)" rel="stylesheet">
    <link href="{% static 'css/main-small.css' %}" media="(max-width:1095px) and (min-width:901px)" rel="stylesheet">
    <link href="{% static 'css/main-large.css' %}" media="(min-width:1096px)" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <marquee>
    <div id="background">
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    </div>
    </marquee>
    {% include "footer.html" %}
</body>
</html>
