{% extends "base.html" %}

{% block title %}Enterprise Software Services LLC{% endblock %}

{% block content %}
<div class="content">
  <span class="head">Contact Form</span>
  <div class="content-inner-small">
  <p>If you would like to contact us for a quote or more information, please use the form below!</p>
  <form class="contactForm">
    {% csrf_token %}
    <table>
      <tr>
        <td>Name:</td>
      </tr>
      <tr>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Subject:</td>
      </tr>
      <tr>
        <td><input type="text" id="subject"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>Confirm Email:</td>
      </tr>
      <tr>
        <td><input type="text" id="email"></td>
        <td><input type="text" id="confirmEmail"></td>
      </tr>
      <tr>
        <td>Body:</td>
      </tr>
      <tr>
        <td colspan="2"><textarea cols="47" rows="10" id="body"></textarea></td>
      </tr>
    </table>
    <div class="g-recaptcha" data-sitekey="{{recaptchaKey}}" data-callback="enableBtn"></div>
    <input type="hidden" id="recaptcha-response">

    <button type="button" onclick="submitContact()" class="submitButton" disabled="disabled" id="submitButton">Submit</button> <div id="errorMessages"></div>
  </form>
  </div>
</div>

{% endblock %}
