{% extends "base.html" %}

{% block title %}Enterprise Software Services LLC{% endblock %}

{% block content %}
<div class="content">
  <div class="head">Enterprise Software Services</div>
  <div class="content-inner">
    <p>Enterprise Software Services, LLC is a Puget Sound based software consulting and development firm. We specialize primarily in customized B2B web and mobile applications. Our team is ready to design and help implement the changes to your Enterprise!</p>
    <p>With backgrounds in widely used technologies such as Python Django, PHP, and MySQL as well as common web languages like Javascript, HTML and CSS, Enterprise is able to take your challenge and build a customized solution around it.</p>
    <p>We can also provide support and manage hosting on your choice of provider. Whether it be AWS or something as simple as your own in-house server, our engineering team will work to integrate into your workflow.</p>
    <p>Is a self-managed approach not up to you? Enterprise Software Services offers fully managed support and hosting packages as well. Leave the technical details to us so you can focus on what’s important to you, running your business.</p>
  </p>
</div>

{% endblock %}
