html {
    overflow: scroll;
}

body {
  width: 100%;
  min-height: 100%;
}

#background {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-top: 5px;
}

form input{
  line-height: 1.2em;
  border-radius: 5px;
}

form textarea {
  font-size: 0.9em;
  overflow: scroll;
}

div.navItem {
  border-bottom: 3px solid rgba(192, 192, 192, 0);

  -webkit-transition: border 600ms ease;
  -moz-transition: border 600ms ease;
  -ms-transition: border 600ms ease;
  -o-transition: border 600ms ease;
  transition: border 600ms ease; 
  margin: 1px;
}

div.navItem:hover {
  border-bottom: 3px solid rgba(192, 192, 192, 1);
}

.content {
  padding: 1%;
  width: 75%;
  border-radius: 20px;
  min-height: 50%;
  position: relative;
  left: 10%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.center {
  width: 100%;
  height: 120px;

  position: absolute;
  right: 0;
  top: 0;
  left: 0;

  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
}

.content .content-inner {
  padding: 1px;
  font-size: 1.0em;
  line-height: 1.8em;
}

.content .content-inner-small {
  padding: 5px;
  font-size: 0.8em;
  line-height: 1.2em;
}

.submitButton {
  position: relative;
  left: 4px;
  margin-top: 5px;
  font-size:1.2em;
  border:1px solid #999 !important;
  border-radius:6px !important;
}

.content .head {
  font-size: 2em;
}

.navOptions {
  position: relative;
  width: 15%;
  min-width: 15%;
  top: 60%;
  white-space: nowrap;
  float: left;
}

.navbarTop {
  height: 120px;
  max-width: 100%;
  margin: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.navbarTop div {
  position: relative;
  font-size: 1.2em;
}

.miniLogo .logo {
  width: 50px;
  height: 50px;
  display: table;
  margin: auto;
  padding-top: 10px;
}

.navbarTop div .dropdown {
  position: absolute;
  margin-top: 10px;
  margin-left: 0px !important;
  display: none;
  width: 180px;
  font-size: 0.7em !important;
  z-index: 1000;

}

.dropdown div {
  margin-top: 10px;
  display: block;
}

.miniItem {
  margin: auto;
  padding: 5px;
}

.miniLogo {
  width: 60px;
  height: 67px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.textLogo {
  margin-top: 0px;
}

#logoSect {
  position: relative;
  left: -15%;
}

.textLogo .logo-text {
  position: relative;
  height: 40px;
  top: -10px;
  float: center;
}

.g-recaptcha {
  margin-left: 4px;
}

.contactForm #errorMessages {
  margin-left: 10px;
  font-size: 1.1em;
}

.footerWrap {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.footer {  
  bottom: 0;
  right: 0;
  left: 0;

  font-size: 0.9em;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-left: auto;
  margin-right: auto;

  z-index: 1000;
}
